

.playerContainer {
    border: 5px;
    border-style: ridge;
    border-radius: 10px;
}

.navbar {
    display: flex;
    justify-content: end;
    gap: 5px;
}

form {
    display: flex;
    flex-direction: column;

}

.formContainer {
    width: 400px;
    margin: auto;
}

.player-list {
    display: flex;
    margin: 5px;
    
}



.image {
    width: 50%;
}

